body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 100vh;
  width: 100%;
}

#filters {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
